.AppBar
{
  width : 100vw;
  height: 10vh; 
  transition: height 0.3s ease-out;
  position: fixed;
  top: 0;
  background: linear-gradient(#11153f, #184563);


}

.LeftPane
{
  height: 100%;
  width: 20vw; 
  float: left;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.LeftPane img{
  cursor: pointer;
  margin: 5px;
}
.CenterPane
{
  height: 100%;
  width: 40vw; 
  float: left;
}

.RightPane
{
  height: 100%;
  width: 40vw; 
  float: left;
}

.Title
{
  line-height: 10vh;
  width: auto; 
  color: white;
  cursor: pointer;
  word-wrap: break-word;
}