.contact-gradient {
  background: linear-gradient(#11153f, #297bb3);
  height: 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.contact-gradient h2{
  color: white; /*for texts inside it*/
}

.middle-contact {
  display: inline-flex;
  justify-content: space-around;
  padding-bottom: 5%;
  align-content: center;
  padding-top: 5%;
  width: 100%;
  background: #f5f5f5;
}

.left-contact-info {
  max-width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}

.right-contact-form {
  width: 60%;

  padding-left: 5%;
  padding-right: 5%;
}

.left-contact-info > ul > li {
  list-style: none;
}

.left-contact-info > ul {
  padding-left: 0%;
}
.mapouter {
  text-align: right;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
}
.maps-responsive {
  width:100%;
  height:100%;
}

.left-contact-info-ar {
  max-width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: right;
}

.left-contact-info-ar > ul > li {
  list-style: none;
}

.left-contact-info-ar > ul {
  padding-left: 0%;
}

.right-contact-form-ar {
  width: 60%;
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (max-width: 768px) {
  .middle-contact {
    display: flex;
    flex-flow: row wrap;
  }
  .left-contact-info {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
  .right-contact-form {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
}
