.contact-gradient {
  background: linear-gradient(#11153f, #297bb3);
  height: 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.middle-contact {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 5%;
  align-content: center;
  margin-top: 5%;
}

.left-contact-info {
    max-width: 50%;
}

.left-contact-info >ul>li{
 list-style: none;
}

.left-contact-info>ul{
  
 padding-left: 0%;
}

