.home-top{
    display:inline-flex;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .clients{
      height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .about-us{
      height: 200px;
      text-align: center;
  }
