.product-gradient {
  background: linear-gradient(#11153f, #297bb3);
  height: 300px;
  margin-bottom: -100px;
  text-align: center;
}

.product-gradient > h2 {
  color: white;
  padding-top: 15px;
}
